body {
    min-height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
    
section {
    height: 1020px;
    width:480px;
    border:1px solid black;
    overflow-y:hidden;
    &:hover {
        overflow-y:scroll;
    }
}

header {
    padding:30px;
    
}

main {
    background:rgb(238, 241, 243);
    min-height:200px;
    border:1px solid black;
    
  
}

.button {
    display:flex;
    height:50px;
    border-radius 30px;
    background-color: magenta;
    max-width: 70%;
    
}